@model IEnumerable<CodeTogetherNG.Models.ProjectsGridViewModel>

@{
    ViewData["Title"] = "ProjectsGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="ProjectGridPage">Projects list</h2>
<hr />

<style>
    input {
        max-width: 40%;
        float: left
    }
</style>

@if (Model.Count() > 0)
{
    <form asp-controller="Project" asp-action="SearchProjectGrid" method="get">
        <p>
            <input class="form-control" type="text" name="Search" Id="SearchInput" autofocus
                   placeholder="Search" maxlength=50 minlength=2 required />
            <div>
                <button class="btn btn-default" type="submit" aria-label="Left Align" id="SearchButton">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
                <select name="TechList" id="TechList" size="4" multiple>

                    @foreach (var item in ViewBag.TechList)
                    {
                        <option value=@item.Id>@item.TechName</option>
                    }
                </select>
            </div>
        </p>
    </form>
    <hr />

    <div class="list-group">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <a asp-controller="Project"
                   asp-action="ProjectDetails"
                   asp-route-id="@item.ID"
                   class="list-group-item">
                    <div class="flex">
                        <h4 float:"left"> @item.Title </h4>
                        <small>

                            @for (int i = 0; i < item.Technologies.Count; i++)
                            {
                                if (i == item.Technologies.Count - 1)
                                {
                                    @item.Technologies[i].TechName;
                                }
                                else
                                {
                                    @(item.Technologies[i].TechName + ", ");
                                }
                            }
                        </small>
                    </div>
                    <div class="flex">
                        <p> @item.Description </p>
                        @if (item.NewMembers)
                        { <span class="glyphicon glyphicon-user" float:"right"></span> }
                    </div>
                </a>
            </div>
        }
    </div>
}
else
{
    <div class="jumbotron" align="center">
        <h2 align="center">Sorry, there is no match.</h2><br>
        <a class="btn btn-primary btn-lg" asp-controller="Project"
           asp-action="ProjectsGrid" role="button">Please try again.</a>
    </div>
}