@model CodeTogetherNG.Models.ProjectDetailsViewModel
@{
    ViewData["Title"] = "ProjectDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 id="ProjectDetailsPage">Project Details</h2>

<style>
    input, select, textarea {
        max-width: 70%;
    }
</style>
@{
    bool readOnly=!(this.User.Identity.Name == Model.OwnerName);
    bool CanSendJoinRequest = this.User.Identity.Name != null && this.User.Identity.Name != Model.OwnerName;
}
<form asp-controller="Project" asp-action="ProjectDetails" method="post" asp-anti-forgery="true">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" id="Title" ReadOnly="@readOnly"
               maxlength=50 minlength=2 required />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OwnerName" class="control-label"></label>
        <input asp-for="OwnerName" class="form-control" id="Owner" ReadOnly="false" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control" id="Description"
                  ReadOnly="@readOnly" maxlength=500 minlength=20 required></textarea>
    </div>
    <div class="form-group">
        <label asp-for="CreationDate" class="control-label"></label>
        <input asp-for="CreationDate" class="form-control" id="CreationDate" ReadOnly="false" />
    </div>
    <div class="form-check">
        <label asp-for="NewMembers" class="form-check-label"></label>
        <input asp-for="NewMembers" class="form-check-input" id="NewMembers" type="checkbox" disabled="@readOnly" />
    </div>

    <div class="form-group">

        <label asp-for="TechList" class="control-label"></label>

        <select name="TechList" id="TechList" size="7" multiple disabled="@readOnly">
            @foreach (var item in ViewBag.TechList)
            {
                if ((from x in Model.TechList where x == @item.Id select x).Any())
                {
                    <option name="id" value=@item.Id selected>@item.TechName</option>
                }
                else
                {
                    <option name="id" value=@item.Id>@item.TechName</option>
                }
            }
        </select>
    </div>

    <div class="form-group">

        <label asp-for="StateId" class="control-label"></label>

        <select name="StateId" id="State" disabled="@readOnly">
            @foreach (var item in ViewBag.States)
            {
                if (Model.StateId == @item.Id)
                {
                    <option name="id" value=@item.Id selected>@item.State</option>
                }
                else
                {
                    <option name="id" value=@item.Id>@item.State</option>
                }
            }
        </select>
    </div>

    @if (!readOnly)
    {
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-light" id="Save" />
        </div>
    }
</form>

<form asp-controller="Member" asp-action="NewRequest" method="post" asp-anti-forgery="true">
    @if (CanSendJoinRequest)
    {
        <hr/>
        <div class="form-group">
            <input type="hidden" value=@Model.ID name = "projectId"/> 
            <textarea class="form-control" id="RequestMessage" name="message" 
                      placeholder="If you want to join this project, please insert message to owner" rows="5" 
                      style="resize:vertical" maxlength=500 minlength=2 required></textarea>
            <input type="submit" value="Send" class="btn btn-light" id="Send" />
        </div>
    }
</form>