@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="ProfileHeader">Profile of @ViewBag.UserName</h2>
@if (ViewBag.IsOwner)
{
    <form asp-controller="Member" asp-action="UserProfileAdd" method="post">
        <div class="col-md-12">
            <select name="techId" id="TechList">

                @foreach (var item in ViewBag.TechList)
                {
                    <option value=@item.Id>@item.TechName</option>
                }
            </select>

            <select name="level" id="Level" required>
                <option value="">Level</option>
                <option value=1>Beginner</option>
                <option value=2>Advanced</option>
                <option value=3>Expert</option>
            </select>

            <input type="submit" value="Add" class="btn btn-sm" id="Add" />
        </div>
    </form>
}
<br /><br />

@if (Model.SkillList.Any())
{
    <table class="table-bordered table-striped table" id="TechTable" style="font-size: 14px;">
        <thead>
            <tr>
                <th>User's skills</th>
                <th>Skill Level</th>
                @if (ViewBag.IsOwner)
                { <th></th>}
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SkillList)
            {
                <tr>
                    <td>@item.TechName</td>
                    @{string levelName = item.TechLevel==1 ? "Beginner" :
                                                 item.TechLevel==2 ? "Advanced" : "Expert";}
                    <td> @levelName </td>

                    @if (ViewBag.IsOwner)
                    {
                        <td>
                            <input type="button" class="btn btn-light" id="Delete_@item.Id" value="Delete" 
                                   onclick="location.href='@Url.Action("UserProfileDeleteTechnology", "Member", new { @Id = item.Id })'" />
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{ <p>No skills defined yet</p>}

@if (Model.ProjectList.Any())
{
    <table class="table-bordered table-striped table" id="TechTable" style="font-size: 14px;">
        <thead>
            <tr>
                <th>Projects this users is involved in</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProjectList)
            {
                <tr>
                    <td>
                        <a asp-area="" asp-controller="Project" asp-action="ProjectDetails"
                           asp-route-ID="@item.Id" id="Project_@item.Id">@item.Title</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{<p>This user in not involved in any project yet</p>}